* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
}

.menuHambur {
  display: none;
}

/* header {
  background-color: #1f1f1f;

} */

.logo {
  position: absolute;
  left: 10%;
}

.logo img {
  width: 120px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-right: 100px;
}

.nav li a {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 50px;
  transition: .4s;
}

.nav li a:hover {
  color: #a6ff00;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 1px 1px 10px #a6ff00;
}

.buscador {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 20p;
}

.answer-navbar {
  display: flex;
  flex-direction: row-reverse;

}

.answer-navbar i {
  color: #ffffff;
  position: relative;
  top: 20px;
  text-shadow: 1px 4px 5px #000000;
  font-style: italic;
}

.answer-navbar h4 {
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  color: #e2bc95;
  text-shadow: 1px 1px 3px #000000;
  position: relative;
  bottom: 30px;
}



.buscador_index {
  position: absolute;
  padding: 5px;
}


.buscador_index input:hover {
  background-color: rgb(255, 245, 192);
  transition: .4s;
}

.buscador_index input:hover {
  box-shadow: 1px 1px 7px 1px #a6ff0075;
}

.buscador_index:hover>.btn {
  transform: translateX(-30px);
}

.buscador_index:hover>input {
  transform: translateX(10px);
}

.buscador_index input {
  background-color: #856a50;
  width: 0px;
  height: 40px;
  padding: 0 20px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  outline: none;
  box-shadow: 1px 1px 10px 12px #a6ff005e;
  border: 1px solid silver;
  border-radius: 30px;
  transition: all 0.6s ease;
}

.buscador_index input::placeholder {
  color: #000000;
  font-weight: bold;
  font-style: italic;
}

.btn {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #B99470;
  width: 55px;
  height: 55px;
  line-height: 45px;
  text-align: center;
  color: #d3f595;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: .5s;
}

.btn:hover {
  border: 1px solid #a6ff00;
  box-shadow: 2px 2px 8px #d3fc88;
  background-color: #2d3527;
  color: #a6ff00;
  text-shadow: 3px 1px 5px #a6ff00;
}

.buscador_index:hover input {
  width: 240px;
}

.buscador_index input:focus {
  width: 240px;
}

.mate_wallpaper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.637)), url(../img/matewallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mate_wallpaper h3 {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 5px #525252;
}

.mate_wallpaper P {
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
  color: #ffffff;
  text-shadow: 2px 2px 5px #525252;
}


main {
  background-color: #423528;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.text-center {
  background-color: #B99470;
}

.card {
  width: 100%;
}

.card-header {
  background-color: #464646;
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.card-body .card-title {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
  padding-top: 40px;

}

.card-body .card-body-wallpaper {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body .card-body-wallpaper img {
  width: 250px;
  height: 500px;
  object-fit: cover;
}

.carousel {
  background-color: #2d3527;
  box-shadow: 2px 2px 15px black;
}

.card-text {
  padding-top: 40px;
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 1px black;
}

.card-footer {
  background-color: #464646;
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}


.card-body button {
  background-color: #856a50;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  transition: .3s;
}

.card-body button:hover {
  box-shadow: 1px 4px 10px #a6ff00;
  background-color: #000000;
  color: #d3f595;
}

.card-body .carousel button {
  position: absolute;
  top: 50%;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.card-body .carousel button:hover {
  background-color: transparent;
  box-shadow: 1px 1px 10px #ffffff;
}

/* WHATSAPP */

.contact_wp_index {
  width: 100%;
  height: auto;
}

.contact_wp_index img {
  width: 120px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: .7;
  z-index: 100;
}

.contact_wp_index img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: .4s;
  opacity: 1;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #000000;
  color: #fff;
}

.redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.redes p {
  font-size: 20px;
  font-weight: bold;
}

.icons-container {
  display: flex;
  gap: 20px;
}

.icons-container i {
  font-size: 35px;
  color: #252525;
  text-shadow: 1px 1px 8px #a6ff00;
  transition: .3s;
}

.icons-container i:hover {
  transform: scale(1.5);
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 8px #a6ff00;
}

.carousel {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border: 2px solid #000;
}

.carousel-images {
  width: 300px;
  height: 300px;
  display: flex;
  animation: scroll 10s linear infinite;
}

.carousel-images img {
  width: 50%;
  flex-shrink: 0;
}

.principal-main-section {
  display: flex;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.637)), url(../img/mate.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

#montContainer {
  width: 30%;
}

.parraphSpan {
  position: absolute;
  top: 800px;
  left: 950px;
  color: #eaffc3;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.parraphSpan2 {
  position: absolute;
  width: 480px;
  top: 900px;
  left: 860px;
  color: #eaffc3;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

#montContainer .imgMont {
  width: 350px;
  margin-bottom: 70px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #000000;
}

.yerbaSeca {
  background-color: #daff9563;
  width: 230px;
  height: 100px;
  border-start-start-radius: 100px;
  border-start-end-radius: 100px;
  box-shadow: 2px 2px 20px #000;
  position: absolute;
  top: 750px;
  left: 740px;
  opacity: .3;
  transition: .8s;
  cursor: pointer;
}

.yerbaSeca:hover {
  opacity: 1;
}

.yerbaAgua {
  background-color: #daff9563;
  width: 150px;
  height: 80px;
  border-end-end-radius: 100px;
  border-end-start-radius: 100px;
  box-shadow: 2px 2px 20px #000;
  position: absolute;
  top: 860px;
  left: 780px;
  opacity: .3;
  transition: .8s;
  cursor: pointer;
}

.yerbaAgua:hover {
  opacity: 1;
}

.articlesContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #000000;
}

.articlesContainer img {
  padding: 15px;
  border-radius: 20px;
}

.articlesContainer .nombreMate {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: #000;
}

.articlesContainer .card {
  background-color: #ffffff;
}

.priceText {
  color: #06a52e;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.card .goToShop {
  background-color: #000;
  border: none;
  box-shadow: 2px 2px 2px #423528 !important;
  text-transform: uppercase;
}

.text-container {
  width: 50%;
  padding: 40px;
  font-size: 20px;
  font-weight: bold;
}

.text-container h3 {
  font-weight: bold;
}

.shopCards {
  width: 250px;
  box-shadow: 1px 1px 3px #ffffff;
}

.shopCards .card-body {
  display: flex;
  flex-direction: column;
}

.shopCards .card-body h5 {
  font-size: 25px;
  text-transform: uppercase;
}

.shopCards .card-body .botonCarrito {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.listaFiltros button {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.listaFiltros button:hover {
  background-color: white;
  color: #000;
}

.barraNavShop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.barraNavShop .buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
}

#search {
  background: none;
  border: none;
  padding: 5px;
}

#search:hover {
  background-color: white;
  color: #000;
}

#inputBusqueda {
  background: #525252;
  border: none;
  width: 200px;
}

#inputBusqueda::placeholder {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
}

@keyframes mover {
  0% {
    transform: translate(100%);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* RESPONSIVE */

/* Mobile Styles */
@media (max-width: 380px) {
  .logo {
    position: static;
    text-align: center;
  }

  .logo img {
    width: 150px;
  }

  .nav {
    width: 100%;
    align-items: center;
    padding-right: 0;
  }

  .nav li a {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .buscador {
    display: none;
  }

  .mate_wallpaper {
    width: 100%;
  }

  #montContainer,
  .yerbaSeca,
  .yerbaAgua {
    display: none;
  }

  #principalMainSection .text-container {
    width: 100%;
    background-color: #2d3527;
  }

  .articlesContainer {
    flex-direction: column;
  }

  main {
    flex-direction: column;
    gap: 10px;
  }

  .card-body .card-body-wallpaper {
    height: auto;
  }

  .card-body .card-body-wallpaper img {
    width: 100%;
    height: auto;
  }

  .contact_wp_index img {
    width: 80px;
    right: 20px;
    bottom: 20px;
  }

  .redes p {
    font-size: 16px;
  }

  .icons-container i {
    font-size: 25px;
  }
}

/* Tablet Styles */
@media (min-width: 601px) and (max-width: 1024px) {
  .logo {
    position: static;
    text-align: center;
  }

  .logo img {
    width: 100px;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
  }

  .nav li a {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .buscador {
    flex-direction: column;
  }

  .buscador_index input {
    width: 240px;
  }

  .mate_wallpaper {
    height: auto;
    padding: 30px;
    text-align: center;
  }

  .mate_wallpaper h3 {
    font-size: 40px;
  }

  .mate_wallpaper p {
    font-size: 30px;
  }

  main {
    flex-direction: column;
    gap: 15px;
  }

  .card-body .card-body-wallpaper {
    height: auto;
  }

  .card-body .card-body-wallpaper img {
    width: 100%;
    height: auto;
  }

  .contact_wp_index img {
    width: 100px;
    right: 30px;
    bottom: 30px;
  }

  .redes p {
    font-size: 18px;
  }

  .icons-container i {
    font-size: 30px;
  }
}

/* Desktop Styles
@media (min-width: 1025px) {
  .logo img {
    width: 220px;
  }

  .nav {
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 100px;
  }

  .nav li a {
    font-size: 20px;
    margin-bottom: 0;
  }

  .buscador {
    flex-direction: row;
  }

  .buscador_index input {
    width: 0;
  }

  .mate_wallpaper {
    height: 500px;
  }

  .mate_wallpaper h3 {
    font-size: 50px;
  }

  .mate_wallpaper p {
    font-size: 35px;
  }

  main {
    flex-direction: row;
    gap: 20px;
  }

  .card-body .card-body-wallpaper {
    height: 500px;
  }

  .card-body .card-body-wallpaper img {
    width: 250px;
    height: 500px;
  }

  .contact_wp_index img {
    width: 120px;
    right: 50px;
    bottom: 50px;
  }

  .redes p {
    font-size: 20px;
  }

  .icons-container i {
    font-size: 35px;
  }
} */